body {
  margin: 0;
}
#wrapper {
  position: relative;
  width: 800px;
  height: 900px;
  background: lightblue;
  margin: auto;
}
#carousel {
  position: relative;
  height: 187px;
  background: rgba(20, 20, 20, 0.2);
  border: 1px black solid;
  margin: auto;
  margin-top: 20px;
}
#carousel .slide {
  position: relative;
  padding: 0;
  margin: 0;
  width: 1000%;
}
.item {
  padding: 0;
  margin: 0;
  display: inline-block;
  float: left;
  list-style: none;
  width: 140px;
  height: 187px;
  background: red;
  opacity: .3;
}
nav {
  position: relative;
  width: 600px;
  margin: auto;
}
.output {
  position: absolute;
  left: 30px;
  font-size: 110px;
  font-weight: bold;
}
