/* Reset
   -------------------------- */
body {
  margin: 0;
  padding: 0 !important;
}


.wrapper {
  margin: 0 auto;
  margin-top: 100px;
  background: rgba(210,210,200,.2);
}

/* Variables
   -------------------------- */
@tile-med-desktop: 187px;
@tile-sml-desktop: 89px;
@tile-mobile: 145px;
@tile-mobile-retina: 290px;

@tile-size: 0px + @tile-med-desktop;

@tile-height: 0px + @tile-size;
@tile-width: 0px + round(@tile-height*3/4);

@tile-spacing: @tile-width/5;

@rad: 93px;
@indent: @tile-width;

//markers
.marker {
  display: none;
}
.m1 {
  position: absolute;
  z-index: 9;
  top: 100px;
  .circle(10px);
  background: limegreen;
}
.m2 {
  position: absolute;
  z-index: 9;
  top: 100px;
  .circle(10px);
  background: red;
}
.m3 {
  position: absolute;
  z-index: 9;
  top: 100px;
  .circle(10px);
  background: orange;
}

.carousel {
  position: relative;
  /*parent acts as a mask for the carousel*/
  margin: 0;
  padding: 0;
  width: 100%; 
  height: @tile-height; 
  overflow:hidden;
  background: blue;
  margin: auto;


  //padding-left: @tile-spacing;

  &.container { //when inside TBS layout
    margin-right: 0; //override right margin for run-off
    padding: 0;      //disable padding in container
  }
  
  &.show-next-ui {
    .carousel-next {
      display: block;
    }
  }
  &.show-prev-ui {
    .carousel-prev {
      display: block;
    }
  }

  .slide {
    position: relative;
    background: orange;
    width: 1000%; /*extend beyond page to the right*/  
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .tiles > .tile {
    width:  @tile-width;
    height: @tile-height;
    float: left;
    margin: 0;
    margin-right: @tile-spacing;
    cursor: pointer;
    background: black;
  }
  .tile span {
    color: white;
  }
  .tile img {
    //display: none;
  }
  
  .carousel-prev, .carousel-next {
    cursor: pointer;
  }
  
  .half-circle--left {
    display: none;
    position: absolute;
    right: -@rad/2; /*clip left*/
    .half-circle(@rad, 0);
    background: rgba(176, 60, 172, .75);
    z-index: 999;
    /*ARROW ICON HERE*/
  }

  .half-circle--right{
    display: none;
    position: absolute;
    left: -@rad/2; /*clip right*/
    .half-circle(@rad, 1);
    background: rgba(176, 60, 172, .75);
    z-index: 999;
    /*ARROW ICON HERE*/
  }
  
}

/* Circle Mixins
   -------------------------- */

/**
 *
 * Circle
 *
 * @exports {class} .circle();
 *
 * @param {unit} - sets diameter of circle
 *
 */

.circle(@diameter:auto) {
  width  : @diameter;
  height : @diameter;
  border-radius: 50%           ;
}

 /**
 *
 * Half-Circle
 *
 * @exports {class} .half-circle();
 *
 * @param {String} 'left'|'right'
 *
 */


//facing left
.half-circle (@radius, @direction) when (@direction = 0) {
  height: (@radius*2);
  width: @radius;
  border-radius: @radius 0 0 @radius;
}

//facing right
.half-circle (@radius, @direction) when (@direction = 1) {
  height: (@radius*2);
  width: @radius;
  border-radius: 0 @radius @radius 0;
}